body{
background-color: #000;
font-family: 'Zilla Slab', serif; 
}
*{
    margin: 0px;
    padding: 0px;
}
#logo{
	font-family: 'Orbitron', sans-serif;
    position: relative;
    top: 20px;
	left: 20px;
    text-align: center;
    display: inline;
    padding: 5px;
    color: #3FB4BE;
    border: 1px solid;
    letter-spacing: 5px;
    box-shadow:0 0 2px 1px #3FB4BE;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
    .profile{
        position: relative;
        width: 70%;
        height:90%;
        background:url("../img/try.gif");
        background-size: cover;
        cursor: pointer;
        border: 12px;
        border-top-right-radius: 35px !important;
        border-radius: 6px;
        box-shadow:2px 2px 4px 4px #3FB4BE;
    }
    .overlay{
        width: 100%;
        height: 100%;
        background:rgba(0,0,0,0.8);
        border-radius: 12px;
        cursor: pointer;
        opacity: 0;
        transition: all 1s;
        border-top-right-radius: 35px !important;
        border-radius: 6px;
        
    }
    .profile:hover .overlay{
        opacity: 1
    }
    .social-icons{
        display: flex;
        list-style: none;
        bottom: 10px;
        left: 11%;
        position: absolute;
       
        text-align: center;
        justify-content: center;
        
    }
    .social-icons li{
        width: 50%;
        height: 50%;
        border: 1px solid #3FB4BE;
        padding: 20%;
        margin-right: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #3FB4BE;
        border-radius: 5px;
        transition: all 1s
    }
    .social-icons li:hover{
        background:#3FB4BE;
        color: #000
    }
    .overlay .about{
        position: relative;
        justify-content: center;
        align-items: center;
        display: flex;
        top:5%;
        color: #fff;
        flex-direction: column;
    }
    table{
        
        margin-top: 5%;
        width: 70%;
        height: 100%;
        text-align: center;
        border-spacing: 0px;
    }
    th{
        border-bottom: 1px rgb(32, 32, 51) solid;
    }
    td{
        padding-top: 2%;
    }
    /* th, td{
        margin: 30%;
    } */

    .pic{
        width: 100px;
        height: 100px;
        background-image:url(../img/userpic.jpg) ;
        border-radius: 50%;
        box-shadow:0 0 4px 4px #3FB4BE;
    }
    a{
        color: #fff;

    }
   

    h3{
        margin-top: 10px;
        text-align: center;
    }
    p{
        color: #3FB4BE;
        font-weight: 400;
        
    }
   
      @media only screen and (max-width: 1125px) {
        table {
          font-size: x-small;
        }
        h1{
            font-size: medium;
        }
        .social-icons{
            left:27%
        }

      }
      @media only screen and (max-width: 400px) {
        #pic{
            width: 100px;
            height: 100px;
           
        }
        table {
          font-size: xx-small;
        }
        h3{
            font-size: medium;
        }
        p{
            font-size: medium;
            
        }
        .social-icons {
            left: 38%;
        }

      }